@charset "UTF-8";

table{
	border-spacing: 0;
	width: 100%;
	border: 1px solid #ddd;
	align: center;
}

th{ 
	background-color: #669999;
	font-weight: bold;
	font-size: 1em;
	border: 1px solid #ddd;
}

td {
	border: 1px solid #ddd;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: #111;
}

.active {
	background-color: #669999;
}

#topBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 16px;
	border: none;
	outline: none;
	background-color: #3860ff;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
}

#topBtn:hover {
	background-color: #46ddff;
}
